---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ResearchContent from "../../markdown/research.md";
---

<BaseLayout title="Research | Cpuritan" description="Research directions">
  <section>
    <ResearchContent />
  </section>
</BaseLayout>
