---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeContent from "../markdown/home.md";
---

<BaseLayout title="Home | Cpuritan" description="Qifeng Bao personal homepage">
  <section class="home-intro">
    <HomeContent />
  </section>
</BaseLayout>
